<div class="main-container" [class.state-active]="activeCategory !== 'none'">
  
  <div class="user-header">
    <div class="user-info">
      <span class="icon">👤</span>
      <span class="name">{{ userName || 'Завантаження...' }}</span>
    </div>
  </div>

  <div class="circles-container">
    <app-income 
      [isFullView]="activeCategory === 'income'"
      [class.hidden]="activeCategory !== 'none' && activeCategory !== 'income'"
      (onSelect)="activeCategory = 'income'">
    </app-income>

    <app-expence 
      [isFullView]="activeCategory === 'expense'"
      [class.hidden]="activeCategory !== 'none' && activeCategory !== 'expense'"
      (onSelect)="activeCategory = 'expense'">
    </app-expence>

    <app-saving 
      [isFullView]="activeCategory === 'saving'"
      [class.hidden]="activeCategory !== 'none' && activeCategory !== 'saving'"
      (onSelect)="activeCategory = 'saving'">
    </app-saving>
  </div>

  <button class="back-action-btn" *ngIf="activeCategory !== 'none'" (click)="activeCategory = 'none'">
    Back
  </button>
</div>