 <div class="dashboard-container" [class.has-active]="activeTab !== null">
   <div class="circles-layout">
    <div
      class="sphere-wrapper income-pos"
      [class.is-active]="activeTab === 'income'"
      [class.is-hidden]="isHidden('income')"
    >
      <app-income
        [isFullView]="activeTab === 'income'"
        (onSelect)="setActiveTab('income')"
      ></app-income>
     </div>
 
    <div
      class="sphere-wrapper expense-pos"
      [class.is-active]="activeTab === 'expense'"
      [class.is-hidden]="isHidden('expense')"
    >
      <app-expence
        [isFullView]="activeTab === 'expense'"
        (onSelect)="setActiveTab('expense')"
      ></app-expence>
     </div>
 
    <div
      class="sphere-wrapper saving-pos"
      [class.is-active]="activeTab === 'saving'"
      [class.is-hidden]="isHidden('saving')"
    >
      <app-saving
        [isFullView]="activeTab === 'saving'"
        (onSelect)="setActiveTab('saving')"
      ></app-saving>
      </div>
    <div
      class="sphere-wrapper news-pos"
      [class.is-active]="activeTab === 'news'"
      [class.is-hidden]="isHidden('news')"
    >
      <app-news
        [isFullView]="activeTab === 'news'"
        (onSelect)="setActiveTab('news')"
      ></app-news>
    </div>
  </div>
</div>
